*{
    box-sizing: border-box;
}
p{
    text-align: center;
    font-size: 30px;
    background-color: grey;
    color: white;
    /* margin: 5px; */
    border-radius: 10px;
}

h1{
    text-align: center;
    color: white;
    font-size: 100px;

}

span{
    color: coral;
}

.header{
    background-image: url(pictures/recipe.jpg);
    width: 100%;
    /* justify-content: center;
    position: relative;
    margin-left: 250px; */
}

/* .homepage img{
    display: grid;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */

.img-1 img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.img-2 img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.img-3 img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.items{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    justify-content: center;
    column-gap: 40px;
    row-gap: 90px;
}

.items img:hover{
    transform: scale(1.05);
    transition: 0.3s all ease;
    border-radius: 16px;
    box-shadow: 0 0 5px grey;
}
